mixin slide(names, slideClasses)
  if names
    section(class=names+' '+slideClasses, data-bespoke-backdrop='backdrop ' + names.split(' ').map(function(name) { return 'backdrop--' + name; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title Angular &mdash; Bringing Joy To Web Applications

  link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      +slide
        img.avatar(src='images/utah.jpg')
        h4 @chrismarx

      +slide('orion')
        h1.angular-shield &nbsp;&nbsp;&nbsp;ngular

      +slide
        h3 Build maintainable, testable, and modular applications 
        h2 faster

      +slide('jquery')
        h3 Why do we need frameworks?
        pre.language-javascript
          code.
            var $accordionContainer;

            $accordionContainer = $("#accordion-container");
            $accordionContainer.accordion();

      +slide('jqueryaccordion')
        h3.bullet jQuery was AWESOME
        h3.bullet So long cross browser inconsistencies
        h3.bullet Hello Ajax
        h3.bullet A sane api for document traversal (selectors)
        h3.bullet Animations
        h3.bullet Plugins!

      +slide('urkel')
        h2(style='margin-left:-137px;top:6px;').bullet.meme-impact AND WE WERE COOL
        h1(style='border:none;bottom:-45px;margin-left:-196px;').bullet.meme-impact BUT NOT REALLY

      +slide()
        h1 What about:
        h3 Dealing with Dependencies
        h3 Data-Driven from REST Apis
        h3 Routing and Deep Linking
        h3 Reactive/Interactive components
        h3 Testing
        h3 Standard Conventions
        h3 Code Length and Complexity

      +slide("barkley")
        h2(style='top:6px;margin-left:-398px;').meme-impact Can we write an app like gmail with jquery?

      +slide  
        iframe(src="http://todomvc.com/" style="width:100%; height:100%;")
        p http://todomvc.com

      //Controlling complexity is the essence of computer programming. - Brian Kernighan
      +slide    
        iframe(src="http://blog.coderstats.net/todomvc-complexity/" style="width:100%; height:100%;")
        p http://blog.coderstats.net/todomvc-complexity/

      +slide('angrycat')
        h2(style='top:6px;margin-left:-358px').meme-impact THERE'S ONLY TWO THINGS I DON'T LIKE
        h1(style='border:none;bottom:-45px;margin-left:-350px').meme-impact CHANGE AND THE WAY THINGS ARE

      +slide("whousesangular")
        div.footer-reference
          p(style="text-align:left") ref:
            a(href="https://www.linkedin.com/groups/How-many-large-enterprise-apps-5010991.S.5807183502503862274") https://www.linkedin.com/groups/How-many-large-enterprise-apps
            a(href="http://thecoderfactory.com/posts/top-sites-built-with-angularjs") http://thecoderfactory.com/posts/top-sites-built-with-angularjs
      
      +slide("angularadoption light-grey")
        div(style="position:absolute;top:25%;left:25%;").bold.no-italics
          h3.bullet 
          h3.bullet Angular 1.0 released June 2012
          h3.bullet(style="margin-top:70px;") Angular 1.1.5 released June 2013
        div.footer-reference
          p(style="text-align:left") ref:
            a(href="https://www.google.com/trends/explore#q=angularjs%20%2B%20angular%2C%20jquery%2C%20react%2C%20ember%2C%20backbone&date=1%2F2011%2049m&cmpt=q&tz=") https://www.google.com/trends/explore#q=angularjs%20%2B%20angular%2C%20jquery%2C%20react%2C%20ember%2C%20backbone&date=1%2F2011%2049m&cmpt=q&tz=
      
      +slide("angularadoption2")
        div.footer-reference
          p(style="text-align:left") ref:
            a(href="https://www.airpair.com/js/javascript-framework-comparison") https://www.airpair.com/js/javascript-framework-comparison
      
      +slide("angularadoption3")
        div.footer-reference
          p(style="text-align:left") ref:
            a(href="https://www.airpair.com/js/javascript-framework-comparison") https://www.airpair.com/js/javascript-framework-comparison
      
      +slide("angularadoption4")
        div.footer-reference
          p(style="text-align:left") ref:
            a(href="http://stackoverflow.com/research/developer-survey-2015?utm_medium=social&utm_campaign=stack-overflow-survey&utm_source=facebook.com#tech-lang") http://stackoverflow.com/research/developer-survey-2015?utm_medium=social&utm_campaign=stack-overflow-survey&utm_source=facebook.com#tech-lang
  
      +slide  
        h2. yardmap.org
        iframe(src="http://app.yardmap.org" style="width:100%; height:100%;")

      +slide  
        h2. all about bird biology
        iframe(src="http://biology.allaboutbirds.org/features/fancymales/fancy-males" style="width:100%; height:100%;")
        p
          a(href="http://biology.allaboutbirds.org/features/fancymales/fancy-males") http://biology.allaboutbirds.org/features/fancymales/fancy-males



      +slide
        img(src="images/todomvc.svg" height="35" style="position:absolute;")
        iframe(src="http://localhost:8080/#/" style="width:100%; height:100%;")

      +slide()
        h1 Learning Angular
        h3 Controllers, $scope, partials/templates
        h3 Services, Factories, $resource
        h3 Directives, Transclusion
        h3 Dependency Injection
        h3 Modules
  
      +slide("still seinfeld")
          

      +slide
        iframe(src="http://localhost:8080/js/partials/index-partial-plain-highlighted.html" style="width:100%; height:100%; margin:0;")

      +slide
        iframe(src="http://localhost:8080/js/partials/index-partial-plain.html" style="width:100%; height:100%; margin:0;")

      +slide
        iframe(src="http://localhost:8080/js/partials/index-partial-highlighted.html" style="width:100%; height:100%; margin:0;")

      +slide
        iframe(src="http://localhost:8080/js/partials/index-partial.html" style="width:100%; height:100%; margin:0;")

      +slide('whoa')
        h2 WHOA

      +slide("nintieswebsite")
          p.marquee
            span(style="font-size:2.5em;") Repeat after me. Unobstrusive Javascript. Unobstrusive Javascript  

      +slide  
        iframe(src="https://angularjs.org/#the-basics" style="width:100%; height:100%;")

      +slide('angularjs')
        pre.language-javascript
          code.
            todomvc.controller('TodoCtrl', 
                function TodoCtrl($scope, $location, $filter, todoStorage) {
                var todos = $scope.todos = todoStorage.get(); 

                $scope.newTodo = '';
                $scope.remainingCount = 
                $filter('filter')(todos, {completed: false}).length;

      +slide  
        <script src="https://gist.github.com/cm325/00dc35123f98968a210c.js"></script>

      +slide
        pre.small.language-javascript
          code.
            todomvc.factory('todoStorage', function () {
              var STORAGE_ID = 'todos-angularjs-perf';

              return {
                get: function () {
                  return JSON.parse(localStorage.getItem(STORAGE_ID)
                                       || '[]');
                },
                put: function (todos) {
                  localStorage.setItem(STORAGE_ID, 
                                          JSON.stringify(todos));
                },
                clear: function(){
                  localStorage.setItem(STORAGE_ID, []);
                }
              };
            });

      +slide
        pre.bullet.small.language-javascript
          code.
            todomvc.factory('todoStorage', function () {
              return $resource('http://www.myapp.com/api/todos/:todoId'); 
            });
        pre.bullet.language-javascript
          code.
            //GET request to http://www.myapp.com/api/todos/123
            var todo = todoStorage.get({todoId:123}); 
        pre.bullet.language-javascript
          code.
            //POST request to http://www.myapp.com/api/todos/123
            todoStorage.save({todoId:123}, todo); 

      +slide("misko")
        h3 &ldquo;What's unique about Angular is ... we have dependency injection, which is very unique. Nobody else has that. <br/> But, the thing that really hits it home is that we have directives. Rather than writing everything inside of JavaScript and then having a bunch of templates to generate the UI, you write a lot of it in HTML and HTML drives the assembly of the application. It's kind of the reverse thing. It's very unique&rdquo;
        h4 -Misko Hevery, Angular creator

      +slide()
        pre.bullet.small(style="line-height:10px;")
          <span style="color: #f92672">&lt;ng</span><span style="color: #a6e22e">-pluralize</span> <span style="color: #a6e22e">count=</span><span style="color: #e6db74">&quot;remainingCount&quot;</span>
          <br/>
          <span style="color: #a6e22e">when=</span><span style="color: #e6db74">&quot;{ one: &#39;item left&#39;, other: &#39;items left&#39; }&quot;</span><span style="color: #f92672">&gt;</span>
          <br/>
          <span style="color: #960050; background-color: #1e0010">&lt;</span>/ng-pluralize&gt;
        pre.bullet.small(style="color:white;")
          <span>becomes</span>
          <br/>
          <span style="color: #f92672">&lt;span&gt;</span>items left<span style="color: #f92672">&lt;/span&gt;</span>

      +slide()
        pre.small.language-javascript
          code.
            angular.module('todomvc', [])
             .directive('todoList', function(){
                return {
                  restrict: 'E',
                  transclude: true,
                  scope: { title:'@' },
                  template: "/partials/todo-list-partial.html"
                  controller: "TodoCtrl"
                };
            })
      
      +slide("neverending")
        p.bullet(style="margin-top:-380px;color:white") 
          &lt;todo-list&gt;My Todo List&lt;/todo-list&gt;
        <br/>
        h2.bullet(style="color:white;")
          'DIRECTIVES'&#33;

      +slide('still crashtest')
        h2(style="color:white;") You Said Testing


      +slide('still lightning')
        h2 Angular 2.0
        h3 &mdash; is &mdash;
        h2 coming


      //+slide
      //  h2 References
      //    a(href='https://cm325.github.io/todomvc/examples/anuglarjs-perf/')
       //   h2 TodoMvc examples
      //    a(href="https://www.airpair.com/js/javascript-framework-comparison") mvc framework comparisons

      +slide
        img.avatar(src='images/utah.jpg')
        br
        h2 Thanks
        a(href='bit.ly/1GOCHz1', style='border:none')
          h3 bit.ly/1GOCHz1

    script(src='build/build.js')
